@import "./variable.scss";
@import "./importAll.scss";
body {
  --bs-body-font-family: var(--bs-font-monospace);
  --bs-body-line-height: 1.4;
  --bs-body-bg: var(--bs-gray-100);
}
*,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
