// colors
// ----------------------------------------

// ----------------------------------------

// responsive
// ----------------------------------------
$xl-size: 1250px;
$lg-size: 9920px;
$md-size: 768px;
$sm-size: 580px;
$xsm-size: 400px;
// ----------------------------------------
